<ul>
    <li><%= link_to('Index', root_path) %></li>
    <li><%= link_to('Events',events_path) %></li>
    <li><%= link_to('Categories',categories_path) %></li>
    <li><%= link_to('Contact',contact_index_path) %></li>
</ul>