<!DOCTYPE html>
<html>
  <head>
    <title>MartinEventsClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      <%= current_user.email %>
      <%= link_to('Log out', destroy_user_session_path(), method: :delete) %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render partial: 'layouts/sidebar' %>
  </body>
</html>
